@font-face {
    font-family: 'anderson_grotesk';
    src: url('~/assets/fonts/andersongrotesk-bold-webfont.woff2') format('woff2'),
         url('~/assets/fonts/andersongrotesk-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'anderson_grotesk';
    src: url('~/assets/fonts/andersongrotesk-webfont.woff2') format('woff2'),
         url('~/assets/fonts/andersongrotesk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}